VITE_API_BASE_URL=your backend localhost

VITE_NODE_ENV=development

VITE_PAYMONGO_PUBLIC_KEY=pk_live_(ur api)
VITE_PAYMONGO_TEST_PUBLIC_KEY=pk_test_(ur api)

VITE_API_SOCKET_URL=your backend localhost
