NODE_ENV=production
PORT=4000
MONGODB_URI=mongodb+srv//...
BASE_PATH=/api/v1


PAYMONGO_SECRET_KEY=your_secret
PAYMONGO_PUBLIC_KEY=your_secret
PAYMONGO_WEBHOOK_SECRET=your_secret

TEST_PAYMONGO_SECRET_KEY=your_secret
TEST_PAYMONGO_PUBLIC_KEY=your_secret
TEST_PAYMONGO_WEBHOOK_SECRET=your_secret

RESEND_API_KEY=your_secret
RESEND_FROM_NAME=VeloRent
RESEND_FROM_EMAIL=onboarding@resend.dev 
DEV_EMAIL_OVERRIDE=email_override


INFOBIP_BASE_URL=https://your_infobip_url
INFOBIP_API_KEY=your_secret
INFOBIP_SENDER_NAME=your_sender_name

JWT_ACCESS_SECRET=your_secret
JWT_REFRESH_SECRET=your_secret
JWT_ACCESS_EXPIRES=900
JWT_REFRESH_EXPIRES=604800
# 

FRONTEND_ORIGIN=https://yourdomain

COOKIE_SECRET=your_secret